{%- extends "bootstrap/base.html" %}
{% block title %}Home | Autop App for Test {% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/autop.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/autop.js')}}"></script>
{% endblock %}

{% block content %}
  <div class="bs-example">

    <div class="text-left">
       <button type="button" data-toggle="modal" data-target="#myModal" id="populate" class="btn btn-primary">Populate Database</button>
       <button type="button" data-toggle="modal" data-target="#myModal" id="teardown" class="btn btn-danger">Teardown Table</button>
       {% if car_type == "Truck" %}
         <a href="/Sport?car_type=Sport" class="btn btn-link" role="button">Sports</a>
       {% else %}
         <a href="/" class="btn btn-link" role="button">Home</a>
       {% endif %}
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <p class="h2">Car type: {{ car_type }}</p>
    <div>
    {{ pagination.info }}
    {{ pagination.links }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ loop.index + (page - 1) * per_page  }}</td>
                <td>{{ car.car_type }}</td>
                <td>{{ car.title }}</td>
                <td>{{ car.summary }}</td>
                <td><button type="button"  data-toggle="modal" data-target="#myModal"
                     data-price-query="{{ car.price_query }}"
                     id="price-info-{{ loop.index + (page - 1)* per_page }}"
                     class="btn btn-info btn-xs" >Get Price</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
  </div>
{% endblock %}